.font-atas {
    position: absolute;
    width: 400px;
    height: 84px;
    left: 37px;
    top: 210px;
    font-family: 'Raleway';
    font-style:normal;
    font-weight:bolder;
    font-size: 50px;
    

    color: #fff;
}

.font-bawah{
    position: absolute;
    width: 490px;
    height: 14px;
    left: 37px;
    top: 342px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    /* identical to box height */


    color: #fff;
}


.button-belajar {
    position: absolute;
    width: 158px;
    height: 36px;
    left: 37px;
    top: 450px;
}

.bg-color {
    background-image: url("../../assets/img/bgawal.png");
    
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;    
}