/* page1 */

.bg-about1 {
    background-image: url("../../assets/img/about1.png");
    
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;    
}


.logo2 {
    background-image: url("../../assets/img/logo2.png");
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 390px;
    left: 90px;
    top: 60px;
}

.btn-about {
    position: absolute;
    left: 100px;
    top: 500px;
}


.detail-about {
    position: absolute;
    width: 343px;
    height: 230px;
    left: 800px;
    top: 211px;
    background: rgba(163, 163, 163, 0.75);
    border-radius: 20px;
}

.textabout-detail{
    position: absolute;
    width: 321px;
    height: 311px;
    left: 11px;
    top: 13px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;

    color: #FFFFFF;
}




/* page2 */

.bg-about2{
    background-image: url("../../assets/img/about2.jpg");
    
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;    
}